<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  <script type="text/javascript">
    var script = document.createElement('script');
    script.setAttribute('src', window.location.href.replace('html', 'js'));
    script.onload = loadSkills;
    document.head.appendChild(script);

    function loadSkills() {
      var skills = JSON.parse(skillsJson);

      // Sort first by value and then by skill name
      skills.sort(function (a, b) {
        return a.value != b.value ?
          b.value - a.value :
          a.skill.toUpperCase().localeCompare(b.skill.toUpperCase());
      });

      google.charts.load("current", { packages: ["treemap"] });
      google.charts.setOnLoadCallback(function () { drawChart(skills); });
    }

    function drawChart(skills) {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Skill');
      data.addColumn('string', 'Parent');
      data.addColumn('number', 'Value');
      data.addColumn('number', 'Color');

      data.addRow(["Skills", null, 0, 0]);

      skills.forEach(function (element) {
        data.addRow([element.skill, "Skills", element.value, element.value]);
      });

      var options = {
        headerHeight: 0,
        fontFamily: "Lato",
        fontSize: skills.length > 10 ? 9 : 11,
        maxColor: '#e9350f', // Redish
        midColor: '##fb9d89', // Light Red
        minColor: '#f9f1ef', // Almost White
        width: 550,
        height: 245,
      };

      var map = new google.visualization.TreeMap(document.getElementById("chart"));
      map.draw(data, options);
    }
  </script>
</head>

<body>
  <div id="chart"></div>
</body>

</html>